<!DOCTYPE html>
<html>
    <head>
        <title>Bloggly</title>
        <style>
        .error{
            color:red
        }
        </style>
    </head>
    <body>
        <form method="post">
            <label>Title</label>
            <input type="text" name="title" value={{title}}>
        <br>
        <label>
            Entry
        </label>
        <br>
        <textarea name="entry" value="">{{entry}}</textarea>
        <input type="submit">
        </form>
        <div class="error">{{error}}</div>

        <hr>
        {% for post in posts %}
            <div class="title-style"><b>{{post.title}}</b></div>
            <pre class="art-style">{{post.entry}}</pre>
        {% endfor %}
    </body>
</html>
